@font-face {
  font-family: "iconfont"; /* Project id 4501021 */
  src: url('iconfont.woff2?t=1712829173742') format('woff2'),
       url('iconfont.woff?t=1712829173742') format('woff'),
       url('iconfont.ttf?t=1712829173742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuandewenzhang:before {
  content: "\e64c";
}

.icon-shezhi:before {
  content: "\e892";
}

.icon-tuichu:before {
  content: "\e893";
}

.icon-bangzhuyufankui:before {
  content: "\e654";
}

.icon-yigouneirong:before {
  content: "\e6c6";
}

.icon-wodeqianbao:before {
  content: "\e618";
}

.icon-shoucangdewenzhang:before {
  content: "\e73d";
}

.icon-home:before {
  content: "\e602";
}

.icon-xiewenzhang:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-like:before {
  content: "\e69c";
}

.icon-baitianmoshimingliangmoshi:before {
  content: "\e632";
}

.icon-yejianmoshi:before {
  content: "\e633";
}

.icon-zuanshi:before {
  content: "\e675";
}

.icon-faxian:before {
  content: "\e603";
}

.icon-yangshi:before {
  content: "\e6b1";
}

.icon-xiaoxi:before {
  content: "\e61c";
}

.icon-guanzhu-:before {
  content: "\e64f";
}

.icon-huiyuan:before {
  content: "\e60b";
}

.icon-xinxingITjishu:before {
  content: "\e630";
}

.icon-comment:before {
  content: "\e642";
}

.icon-qita:before {
  content: "\e66b";
}

.icon-tougaoqingqiu:before {
  content: "\e63b";
}

.icon-jianxin:before {
  content: "\e668";
}

.icon-guanzhu:before {
  content: "\e60f";
}

.icon-pinglun:before {
  content: "\e628";
}

.icon-fufeiguanli-fufei:before {
  content: "\e637";
}

.icon-haoping:before {
  content: "\e6bf";
}

